{% assign t = template | split: '.' | first %}

<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
	<ul class="breadcrumbs__list">
		<li class="breadcrumbs__item">
			<a class="breadcrumbs__link" href="{{ routes.root_url }}">
				Home
				{% unless templates contains template %}
					<span>/</span>
				{% endunless %}
			</a>
		</li>
		{% case t %}
			{% when 'product' %}
				{% assign innitialCollection = product.collections[0] %}
				{% if innitialCollection.handle == 'all' %}
					{% assign innitialCollection = product.collections[1] %}
				{% endif %}
				{% if innitialCollection %}
					<li class="breadcrumbs__item">
						<a href="{{ innitialCollection.url }}" class="breadcrumbs__link">Collection <span>/</span></a>
					</li>
				{% endif %}
				<li class="breadcrumbs__item">
					<div class="breadcrumbs__text">{{ product.title }}</div>
				</li>
			{% when 'collection' and collection.handle %}
				{% if collection.handle == "all" %}
					{% assign collectionName = "Collection" %}
				{% else %}
					{% assign collectionName = collection.title %}
				{% endif %}
				<li class="breadcrumbs__item">
					<div class="breadcrumbs__text">{{ collectionName }}</div>
				</li>
			{% when 'cart' %}
				<li class="breadcrumbs__item">
					<span class="breadcrumbs__link not-active">Shopping cart</span>
				</li>
		{% endcase %}
	</ul>
</nav>