<button class="buy-btn" {% unless product.available %}disabled{% endunless %} data-add-to-cart="{{ product.selected_or_first_available_variant.id }}">
    <span>Add to cart</span><div class="buy-btn__icon">{% render 'general-icons' icon: 'button-arrow' %}</div>
</button>