<a class="animated-button" href="{{ btn-url }}">
	{% render 'general-icons', icon: 'circle' %}

	<span class="animated-button__text">
        {{ text }}
    </span>
	<span class="animated-button__arrow">
        {% render 'general-icons', icon: 'collection-arrow' %}
    </span>
</a>