{% assign current_url = canonical_url | replace: shop.url, "" | replace: "/nl" %}
{% assign current_url = current_url | replace: shop.secure_url, "" %}


<div class="language-box__header" data-language-header>
	<span class="language-box__header-text">{{ shop.locale | upcase }}</span>
	{% render 'header-icons', icon: 'arrow-down' %}
</div>
<div class="language-box__popup" data-language-popup>
	<div class="language-box__wrapper">
		<a class="language-box__link" href="#">{{ shop.locale | upcase }}</a>
		<a class="language-box__link{% if shop.locale == "en" %} hide{% endif %}" href="/en{{ current_url }}">EN</a>
		<a class="language-box__link{% if shop.locale == "nl" %} hide{% endif %}" href="/nl{{ current_url }}">NL</a>
	</div>
</div>