{{ 'section-partners.css' | asset_url | stylesheet_tag }}

<div class="partners__wrapper swiper" id="section-partners-swiper">
    <div class="partners__inner swiper-wrapper">
        {% for i in (1..6) %}
            {% for block in section.blocks %}
                {% if block.type == "animation" and block.settings.image != blank %}
                    <div class="partners__logo swiper-slide">
                        <img src="{{ block.settings.image | image_url }}"
                             alt="Animation logo"
                             width="auto"
                             height="auto"
                             class="partners__logo-image"
                             loading="eager"
                        >
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<script type="module" src="{{ 'section-partners.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Section partners",
  "tag": "section",
  "class": "partners",
  "blocks": [
    {
      "type": "animation",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}