{{ 'section-quote.css' | asset_url | stylesheet_tag }}

{% assign show =  section.settings.show %}

<div class="quote__wrapper{% if show == "no"%} hide{% endif %}">
    <p class="quote__text{% if template == 'page.about' %} quote__text--centered{% endif %}">{{ section.settings.text }}</p>
</div>

{% schema %}
{
  "name": "Section quote",
  "tag": "section",
  "class": "quote",
  "settings": [
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "radio",
      "id": "show",
      "label": "Show on mobile",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes"
    }
  ],
  "presets": [
    {
      "name": "Section quote",
      "settings": {}
    }
  ]
}
{% endschema %}