{% if product.metafields.custom.how_to_use_video != blank %}
    {{ 'section-with-video.css' | asset_url | stylesheet_tag }}

    <div class="video ">
        <div class="video__wrapper">
            <div class="video__title h1">{{ section.settings.title }}</div>
            <div class="video__inner">
                {{ product.metafields.custom.how_to_use_video }}
            </div>
        </div>
    </div>
{% endif %}

{% schema %}
    {
        "name": "Section with video",
        "settings": [
             {
                "type": "text",
                "id": "title",
                "label": "Title"
             }
            ],
        "presets": [
            {
                "name": "Section with video",
                "settings": {
    
                }
            }
        ]        
    }
    {% endschema %}