{{ 'section-product-related.css' | asset_url | stylesheet_tag }}

<div class="related dn" id="recently-seen-section">
    <div class="related__wrapper base-section-limit">
        <div class="related__top">
            <h2 class="related__title h1">{{ section.settings.title }}</h2>
            {% assign button_text = section.settings.btn-text %}
            {% assign button_url =  section.settings.btn-url %}
            <div class="related__top-btn">
                {% render 'main-button' text: button_text, btn-url: button_url %}
            </div>
            
        </div>

        <div class="swiper-container related__swiper" id="specially-swiper">
            <div class="related__products swiper-wrapper" id="recently-seen"></div>
        </div>

        <div class="swiper-pagination__specially"  data-swiper-bestseller-pagination></div>
        

        <div class="related__mobile-btn">
            {% render 'main-button' text: button_text, btn-url: button_url %}
        </div>
    </div>
</div>


<script type="module" defer src="{{ 'section-specially-for-you.js' | asset_url }}"></script>

{% schema %}
{
    "name": "Specially products",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "btn-text",
            "label": "Button text"
        },
        {
            "type": "url",
            "id": "btn-url",
            "label": "Button url"
        }

    ],
    "presets": [
        {
            "name": "Specially products",
            "settings": {}
        }
    ]    
}
{% endschema %}