{{ 'section-collection-seo.css' | asset_url | stylesheet_tag }}

{% if collection.metafields.custom.seo_description != blank or collection.metafields.custom.seo_title != blank %}
    <div class="collection-seo__container">
        {% if collection.metafields.custom.seo_title != blank %}
            <h2 class="h1">{{ collection.metafields.custom.seo_title }}</h2>
        {% endif %}
        {% if collection.metafields.custom.seo_description != blank %}
            <div class="collection-seo__content">{{ collection.metafields.custom.seo_description | metafield_tag }}</div>
        {% endif %}
    </div>
{% endif %}

{% schema %}
{
    "name": "Collection seo section",
    "tag": "section",
    "class": "collection-seo base-section-limit",
    "settings": [],
    "presets": [
        {
            "name": "Collection seo section"
        }
    ]
}
{% endschema %}