<link rel="stylesheet" href="{{ 'template-return.css' | asset_url }}">

<div class="page-return__wrapper contact-form__wrapper base-section-limit">
	<div class="page-return__navigation contact-form__navigation">{% render "contact-navigation" %}</div>
    <div class="page-return__info">
        <h1 class="page-return__title h1">{{ page.title }}</h1>
        {% if page.content != blank %}
          <div class="page-return__content" id="page-return_content">
            {{ page.content }}
          </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
  "name": "Template return",
  "class": "page-return",
  "tag": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "contact_menu",
      "label": "Contact menu"
    }
  ]
}
{% endschema %}