{{ 'template-wishlist.css' | asset_url | stylesheet_tag }}

<div class="wishlist">
    <div class="wishlist__wrapper base-section-limit">
        <h2 class="wishlist__title h1">{{ section.settings.title }}</h2>
        {% comment %} <div class="wishlist__products">
        </div> {% endcomment %}
        {% comment %} Until connect app {% endcomment %}
        <div class="wishlist__message">
            <div class="wishlist__empty-text">{{ section.settings.text }}</div>
            {% if section.settings.btn-text != blank %}
                {% render 'main-button', text: section.settings.btn-text, btn-url: section.settings.btn-url %}
            {% endif %}
        </div>
    </div>
</div>

<script src="{{ 'template-wishlist.js' | asset_url }}" async="async"></script>
{% schema %}
{
    "name": "Wishlist",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Wishlist"
        },
        {
            "type": "text",
            "id": "text",
            "label": "No product text"
        },
        {
            "type": "text",
            "id": "btn-text",
            "label": "Button text"
        },
        {
            "type": "url",
            "id": "btn-url",
            "label": "Button text"
        }
        ]
}
{% endschema %}